.vscode/**
.vscode-test/**
node_modules/**
!node_modules/markdown-it-footnote/
!node_modules/markdown-it-footnote/**
src/**
scripts/**
test/**
**/*.map
**/*.ts
package-lock.json
yarn.lock
*.log
sample.md
media/nexora.src.css
